<header>
	{# <nav>
				<div class="logo">
					<img src="{{asset('images/logo.png')}}" alt="logo-cs-net" width="50" height="50">
		        	<span><a href="#"> CS NET</a></span>
				</div>
		        <ul id="nav-links">
		            <li><a href="#presentation">Présentation</a></li>
		            <li><a href="#histoire">Histoire</a></li>
		            <li><a href="#competences">Compétences</a></li>
		            <li><a href="#projets">Projets</a></li>
		            <li><a href="#contact">Contact</a></li>
		            <li><a href="#contact">S'inscrire</a></li>
		            <li><a href="#contact">Se connecter</a></li>
		        </ul>
		        <i class="fa-solid fa-bars"></i>
		    </nav> #}


	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{path('show_home')}}"><img src="{{asset('images/logo.png')}}" alt="logo-cs-net" width="50" height="50">
				CS NET</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="{{path('show_home')}}">Acceuil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('show_entretien')}}">Entretien</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('show_espace_vert')}}">Espace-vert</a>
					</li>
<<<<<<< Updated upstream
=======
					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Administrateur
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" href="">Mes clients</a>
								</li>
								<li>
									<a class="dropdown-item" href="">Création de devis</a>
								</li>
								<li>
									<a class="dropdown-item" href="">Affichage des devis</a>
								</li>
								<li>
									<a class="dropdown-item" href="">Gestion des roles</a>
								</li>
							</ul>
						</li>
					{% endif %}
>>>>>>> Stashed changes
					{% if not app.user %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_register')}}">Inscription</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_login')}}">Connexion</a>
						</li>
					{% else %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Mon compte
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" href="{{path('show_profil')}}">Mon profil</a>
								</li>
																<li>
									<a class="dropdown-item" href="{{ path('edit_profil', {'id': app.user.id}) }}">Modifier mes information</a>
								</li>
								<li>
									<a class="dropdown-item" href="">Demande de devis</a>
								</li>
								<li>
									<a class="dropdown-item" href="">Mes devis</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{path('change_password')}}">Modifier mot de passe</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_logout')}}">Se déconnecter</a>
						</li>
					{% endif %}

				</ul>
			</div>
		</div>
	</nav>


</header>
