<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('show_home') }}">
            <img src="{{ asset('images/new-logo.png') }}" alt="logo-cs-net" width="70" height="60">
            
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('show_home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('show_entretien') }}">Entretien</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('show_espace_vert') }}">Espace-vert</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('show_contact') }}">Contact</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Administrateur
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{ path('show_dashboard') }}">Dashboard</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('create_devis') }}">Création de devis</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('show_devis') }}">Affichage des devis</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ">
                {% if not app.user %}
                <li class="nav-item">
                    <a class="btn btn-outline-success" style="margin-right: 20px;" href="{{ path('app_register') }}">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" style="margin-right: 10px;" href="{{ path('app_login') }}">Connexion</a>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Mon compte
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{ path('show_profil') }}">Mon profil</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('edit_profil', {'id': app.user.id}) }}">Modifier mes informations</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('ask_demande_devis') }}">Demande de devis</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('edit_password', {'id': app.user.id}) }}">Modifier mot de passe</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
